@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light:after {
  color: #fff;
  background-color: #0fabee;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.container.admin {
  padding-top: 5em;
}

@media (min-width: 992px) {
  .container.admin {
    padding-top: 6em;
  }
}

#mainNav {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

#mainNav .navbar-brand {
  color: #fff;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #0fabee;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #0fabee;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.7em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: #0fabee;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #0fabee;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: calc(4rem + 72px);
  padding-bottom: 4rem;
}

header.masthead h1 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

header.masthead h2 {
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(4rem + 106px);
    padding-bottom: 4rem;
  }
  header.masthead h1 {
    font-size: 3.25em;
    line-height: 3.25rem;
  }
  header.masthead h2 {
    font-size: 1.5em;
  }
}

.masthead {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/U.S._Department_of_Energy_-_Science_-_395_044_001_(9443065075).jpg/1280px-U.S._Department_of_Energy_-_Science_-_395_044_001_(9443065075).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-shadow {
  text-shadow: 2px 2px black;
}

.subtitle-shadow {
  text-shadow: 1px 1px black;
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(15, 171, 238, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.activity-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.activity-block .activity-image {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 160px;
}

.activity-block .activity-text-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0.7em 0.5em 1.2em;
}

.activity-block .activity-text-container .activity-text {
  display: block;
  word-wrap: break-word;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
}

.activity-block .activity-text-container .activity-text b {
  font-weight: 600;
}

.activity-block.img-right {
  flex-direction: row-reverse;
}

@media (max-width: 767.98px) {
  .activity-block {
    flex-direction: column;
  }
  .activity-block.img-right {
    flex-wrap: wrap;
  }
}

.activity-spacer {
  border-top: 1px dashed #ced4da;
  width: 100%;
  margin: 1.1em 0;
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0fabee;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.hidden {
  display: none !important;
}

.admin-card {
  width: 100%;
  max-width: 900px;
  margin: 0.4em auto;
  padding: 1em;
  height: auto;
  border-radius: 3px;
  border: 1px solid #d6d6d6;
  position: relative;
}

.admin-card:hover {
  border: 1px solid #c9c9c9;
}

.admin-cat-switcher {
  max-width: 900px;
  margin: 0.4em auto;
}

.loader {
  border: 16px solid #dee2e6;
  border-radius: 50%;
  border-top: 16px solid #868e96;
  border-bottom: 16px solid #868e96;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.4);
}

.table tbody:first-child tr > th, .table tbody:first-child td {
  border-top: none;
}

.table tbody tr > td {
  word-break: break-word;
}

.table tbody tr > th {
  width: 55px;
}

.closebtn {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #868686;
}

.closebtn i {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  transition: all .3s ease-in-out;
}

.closebtn i:hover {
  transform: scale(1.1);
}

#catalog-body {
  background-color: #1f1f1f;
}

#catalog-body::after {
  content: "";
  background-image: url(/img/bg/grid15.png);
  background-color: #1f1f1f;
  opacity: 0.05;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#main-cat-title {
  width: 100%;
  height: 3rem;
  text-align: center;
  font-size: 4rem;
  margin: 1.2rem 0;
  color: white;
  text-shadow: 1px 1px #ccc, 2px 2px #ccc;
}

#main-cat-container {
  min-height: 100vh;
  background: #fff;
  margin-top: 4rem;
  box-shadow: 1px 1px 10px 1px black;
}

.cat-list-item {
  cursor: pointer;
  padding-top: .55rem;
  padding-bottom: .55rem;
}

.cat-list-item:first-child, .cat-list-item:last-child {
  border-radius: 0 !important;
}

.product-card {
  width: 150px;
  height: 200px;
  background-color: black;
  transition: all .5s ease-in-out;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 1px 1px 6px #5d5959;
}

.product-card:hover, .product-card.card-flipped {
  transform: rotateY(-180deg);
  box-shadow: -1px 1px 6px #5d5959;
}

.product-card.disable-flip:hover {
  transform: none !important;
  box-shadow: 1px 1px 6px #5d5959;
}

.product-card__face {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.product-card__face.product-card-front {
  background-color: #2C3E50;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product-card__face.product-card-back {
  background: #2C3E50;
  transform: rotateY(-180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.product-card__face .product-card-text {
  color: #d6d6d6;
  text-shadow: 1px 1px black;
  margin: 0;
  padding: 0;
}

.product-card__face .product-card-name {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}

#catalog-menu {
  box-shadow: 1px 0 4px 0 #8d8d8d;
}

#catalog-menu .col-12 {
  position: relative;
}

#catalog-menu .col-12 #catalog-menu-links {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#catalog-menu .col-12 #catalog-menu-checkoutbtn {
  position: absolute;
  top: 0;
  right: 4px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

a {
  color: #0fabee;
}

a:focus, a:hover, a:active {
  color: #0c89be;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #0fabee !important;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #0fabee !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #0fabee;
  border-color: #0fabee;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #0c89be;
  border-color: #0c89be;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}
