.admin-card {
    width: 100%;
    max-width: $admin-card-width;
    margin: 0.4em auto;
    padding: 1em;
    height: auto;
    border-radius: 3px;
    border: 1px solid $admin-card;
    position: relative;
    &:hover {
        border: 1px solid darken($admin-card, 5%);
    }
}

.admin-cat-switcher {
    max-width: $admin-card-width;
    margin: 0.4em auto;
}

.loader {
    border: 16px solid $gray-300;
    border-radius: 50%;
    border-top: 16px solid $gray-600;
    border-bottom: 16px solid $gray-600;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

.loader-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.4);
}

.table {
    tbody:first-child {
        tr > th, td {
            border-top: none;
        }
    }
    tbody {
        tr > td {
            word-break: break-word;
        }
        tr > th {
            width: 55px;
        }
    }
}

.closebtn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: #868686;
    i {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
}