#catalog-body {
    background-color: #1f1f1f;
}

#catalog-body::after {
    content: "";
    background-image: url(/img/bg/grid15.png);
    background-color: #1f1f1f;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#main-cat-title {
    width: 100%;
    height: 3rem;
    text-align: center;
    font-size: 4rem;
    margin: 1.2rem 0;
    color: white;
    text-shadow: 1px 1px #ccc, 2px 2px #ccc;
}

#main-cat-container {
    min-height: 100vh;
    background: #fff;
    margin-top: 4rem;
    box-shadow: 1px 1px 10px 1px black;
}

.cat-list-item {
    cursor: pointer;
    padding-top: .55rem;
    padding-bottom: .55rem;
    &:first-child, &:last-child {
        border-radius: 0 !important;
    }
}

.product-card {
    width: 150px;
    height: 200px;
    background-color: black;
    transition: all .5s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    box-shadow: 1px 1px 6px #5d5959;
    &:hover, &.card-flipped {
        transform: rotateY(-180deg);
        box-shadow: -1px 1px 6px #5d5959;
    }
    &.disable-flip:hover {
        transform: none !important;
        box-shadow: 1px 1px 6px #5d5959;
    }
}
  
.product-card__face {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
    &.product-card-front {
        background-color: $secondary;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &.product-card-back {
        background: $secondary;
        transform: rotateY(-180deg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
    }
    & .product-card-text {
        color: $admin-card;
        text-shadow: 1px 1px black;
        margin: 0;
        padding: 0;
    }
    & .product-card-name {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        word-wrap: break-word;
        word-break: break-all;
    }
}
  
#catalog-menu {
    box-shadow: 1px 0 4px 0 #8d8d8d;
    & .col-12 {
        position: relative;
        & #catalog-menu-links {
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        & #catalog-menu-checkoutbtn {
            position: absolute;
            top: 0;
            right: 4px;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width: 20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}