header.masthead {
  padding-top: calc(4rem + 72px);
  padding-bottom: 4rem;
  h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 1rem;
    @include body-font;
  }
}
@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(4rem + 106px);
    padding-bottom: 4rem;
    h1 {
      font-size: 3.25em;
      line-height: 3.25rem;
    }
    h2 {
      font-size: 1.5em;
    }

  }
}

.masthead {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/U.S._Department_of_Energy_-_Science_-_395_044_001_(9443065075).jpg/1280px-U.S._Department_of_Energy_-_Science_-_395_044_001_(9443065075).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-shadow {
  text-shadow: 2px 2px black;
}

.subtitle-shadow {
  text-shadow: 1px 1px black;
}